PORT=8000
AUTH_API_KEY=read-key
AUTH_API_KEY_WRITE=write-key
VECTOR_STORE_ADDRESS=https://my-vector-search.search.windows.net
VECTOR_STORE_PASSWORD=password
VECTOR_STORE_ID=support-chatbot-index
AZURE_OPENAI_ENDPOINT=https://my-openai.openai.azure.com
AZURE_OPENAI_API_KEY=openapi-key
AZURE_OPENAI_API_VERSION=openapi-version
MODEL_EMBEDDINGS=model-name
MODEL_CHAT=model-name
